/*custom font for text*/
@import url(http://fonts.googleapis.com/css?family=Nunito);
/*CSS file for fontawesome - an iconfont we will be using. This CSS file imported contains the font-face declaration. More info: http://fortawesome.github.io/Font-Awesome/ */
@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);

/*Basic reset*/
* {margin: 0; padding: 0;}

/*body {
	background: #4EB889;
	font-family: Nunito, arial, verdana;
}*/
#wrapper {
        padding-left: 250px;
    }

#sidebar {
	margin-left: -300px;
	position: fixed;
	height: 100%;
}

#page-contents-wrapper {
	top:0;
	padding: 20px;
	margin-left: -10px;
	height: 100%;
}

#accordion {
	background: #e8f6f7;
	width: 250px;
	margin-left: 0px;
	padding: 0px;
	/*margin: 100px auto 0 auto;*/
	/*margin: 0;*/
	color: #808080;
	/*Some cool shadow and glow effect*/
/*	box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);*/
}
/*heading styles*/
#accordion h3 {
	font-size: 15px;
	line-height: 34px;
	padding: 0 10px;
	cursor: pointer;
	/*fallback for browsers not supporting gradients*/
	background: #D3D3D3; 
	background: linear-gradient(#D3D3D3, #e8f6f7);
}
/*heading hover effect*/
#accordion h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
	color: black;
}
/*iconfont styles*/
#accordion h3 span {
	font-size: 16px;
	margin-right: 10px;
}
/*list items*/
#accordion li {
	list-style-type: none;
}
/*links*/
#accordion ul ul li div {
/*	color: white;*/
/*	text-decoration: none;
	font-size: 11px;
	line-height: 27px;
	display: block;*/
	padding: 0 30px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}

#accordion ul ul ul li div{
	padding: 0 50px;
}

/*hover effect on links*/
#accordion ul ul li label:hover {
/*	background: #003545;*/
/*	border-left: 5px solid lightgreen;*/
	color:black;
}
/*Lets hide the non active LIs by default*/
#accordion ul ul {
	display: none;
}
/*#accordion li.active ul {
	display: block;
}*/

