
<html>

{% extends 'base.html'%}

{%block body%}

<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>  
<script src="http://listjs.com/no-cdn/list.js"></script>
<script src="http://listjs.com/no-cdn/list.pagination.js"></script>
<script src="../static/js/portfolio_confirm.js" type="text/javascript"></script>
</head>

<div>
<form action="/portfolio_choices">    
    <button name="addmore"> Add More </button>
</form>
<form id="clear_all">
    <button name="clear"> Clear All </button>
</form>
<form id="clear_projs">
    <button name="clear"> Clear Selected </button>
</form>
<form id="confirm_portfolio" action="/save_portfolio" method="post">
  <label for="portfolio_name">Portfolio Name:</label>
  <input type="text" id="portfolio_name" name="portfolio_name">
    <div id="results">
        {% if query|length == 0 %}
          No projects selected. 
        {% else %}
          <ul class="list">
          {%for result in query%}
            <div class="checkbox"><input type="checkbox" id="{{result.id}}" value="{{result.id}}">
              <dl>
                <dd><a href="/project/{{result.id}}">{{result.title}}</a></dd>
                <dt>School Location:</dt><dd>{{result.school.city}}, {{result.school.state}}</dd>
                <dt>Grade Level:</dt><dd>{{result.grade_level}}</dd>
                <dt>Keywords:</dt><dd></dd>
                <dt>Needs:</dt><dd>{{result.fulfillment_trailer}}</dd>
              </dl>
            </div>
          {%endfor%}
          </ul>
          <ul class="pagination"></ul>
        {% endif %}
      </div>
    <button> Confirm </button>
</form>
</div>

{% endblock %}

</html>