
<html>

{% extends 'base.html'%}

{%block body%}

<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>  
<script src="http://listjs.com/no-cdn/list.js"></script>
<script src="http://listjs.com/no-cdn/list.pagination.js"></script>
<script src="../static/js/portfolio_confirm.js" type="text/javascript"></script>

<style>
.inline {
  display: inline-block;
}

#results{
  margin-bottom: 20px;
  width: 600px;
}
#portfolio_name{
  margin-bottom: 20px;
}
.inline2 {
      float: left;
      margin-right: 10px;
    }
</style>
</head>

<div>
  <h3>Confirm your selections for your portfolio.</h3>
<form class="inline" action="/portfolio_choices">    
    <button name="addmore" class="btn btn-sm btn-primary"> Add More </button>
</form>
<form class="inline" id="clear_all">
    <button name="clear" class="btn btn-sm btn-primary"> Clear All </button>
</form>
<form class="inline" id="clear_projs">
    <button name="clear" class="btn btn-sm btn-primary"> Clear Selected </button>
</form>
<form id="confirm_portfolio" action="/save_portfolio" method="post">
  <label for="portfolio_name">Portfolio Name:</label>
  <input type="text" id="portfolio_name" name="portfolio_name">
    <div id="results">
        {% if query|length == 0 %}
          No projects selected. 
        {% else %}
          <ul class="list">
          {%for result in query%}
            <div class="well well-sm"><label class='checkbox-inline'><input type="checkbox" id="{{result.id}}" value="{{result.id}}">
              <dl>
                <dd><a href="/project/{{result.id}}">{{result.title}}</a></dd></label>
                <dt class='inline2'>School Location:</dt><dd>{{result.school.city}}, {{result.school.state}}</dd>
                <dt class='inline2'>Grade Level:</dt><dd>{{result.grade_level}}</dd>
                <dt class='inline2'>Needs:</dt><dd>{{result.fulfillment_trailer}}</dd>
              </dl>
            </div>
          {%endfor%}
          </ul>
          <ul class="pagination"></ul>
        {% endif %}
      </div>
    <button class="btn btn-lg btn-primary pull-right"> Confirm </button>
</form>
</div>

{% endblock %}

</html>