<!DOCTYPE HTML>

{% extends 'base.html'%}

{%block body%}
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link href="../static/css/menu.css" media="screen" rel="stylesheet" type="text/css">
    <script src="../static/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="../static/js/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
    <script src="http://listjs.com/no-cdn/list.js"></script>
    <script src="http://listjs.com/no-cdn/list.pagination.js"></script>
  
    <script src="../static/js/portfolio_select.js" type="text/javascript"></script>
    <style>
    #results {
      margin-left: 50px;
      width: 600px;
    }
    dl{
      margin-left: 2px;
    }
    form{
      margin-bottom: 20px; 
    }
    .inline {
      float: left;
      margin-right: 10px;
    }
    .checkbox-inline{
      width: 500px;
    }
    .well.well-sm{
      width: 560px;
    }
    </style>
  </head>
  
  <body>
      <div>
        <h3>Choose projects for your portfolio</h3>
        <p>You can indicate how many projects you would like in your portfolio here.  After you enter a number, this page will load that many projects from this specific cluster.  Clustering was done using the <a href="http://en.wikipedia.org/wiki/K-means_clustering">k-means algorithm</a>.</p>
        <form id="number" method="POST">
          <label for="proj_number">Number of projects to support:</label>
          <input type="text" name="{{id}}" id="proj_number" />
          <input type="submit" class="btn btn-xs btn-primary">
        </form>
      </div>
      <div id="results">
        <ul class="list" id="projects">
        </ul>
        <ul class="pagination"></ul>
      </div>
      <form id="add" style="visibility:hidden">
        <div>
          <button class="btn btn-primary btn-lg pull-right" type="submit">Add to Portfolio</button>
      </div>
      </form>

    

  </body>



{% endblock %}



  </html>
