
<html>
{% extends 'base.html'%}

{%block body%}
<h1> {{project.title}} </h1>
<dl>
<dt>Teacher:</dt> <dd>{{project.teacher.teacher_name}}</dd>
<dt>School:</dt> <dd>{{project.school.school_name}}</dd>
<dt>Location:</dt> <dd>{{project.school.city}}, {{project.school.state}}</dd>
<dt>Grades:</dt> <dd>{{project.grade_level}}</dd>
<dt>Resource Type:</dt> <dd>{{project.resource_type}}</dd>
<dt>Total Price:</dt> <dd>${{project.total_price}}</dd>
<dt>Students Reached:</dt> <dd>{{project.students_reached}}</dd>
<dt>Percent funded:</dt> <dd>{{project.percent_funded}}</dd>
<dt>Matching</dt> <dd>Test</dd>

<dt>Description:</dt>
<dd><p>{{project.synopsis}}</p>
{{project.fulfillment_trailer}}</dd>
</dl>





{% endblock %}
</html>