
<html>
{% extends 'base.html'%}

{%block body%}
<h1> Project Name </h1>
<dl>
<dt>Teacher:</dt> <dd>Test</dd>
<dt>School:</dt> <dd>Test</dd>
<dt>Grades:</dt> <dd>Test</dd>
<dt>Resource Type:</dt> <dd>Test</dd>
<dt>Total Price:</dt> <dd>Test</dd>
<dt>Students Reached:</dt> <dd>Test</dd>
<dt>Percent_funded:</dt> <dd>Test</dd>
<dt>Matching</dt> <dd>Test</dd>

<dt>Description:</dt>
<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis urna mauris, pellentesque et lectus ut, consectetur viverra lacus. Suspendisse commodo accumsan magna, sit amet gravida mauris porta volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque viverra nulla sed leo ultricies venenatis. Mauris at ipsum ut turpis rutrum sollicitudin a et metus. Nunc non tincidunt felis, sit amet vestibulum lorem. Sed euismod posuere lacinia. Nunc iaculis commodo justo, in elementum elit fermentum vitae. Fusce suscipit ac justo eget consectetur.</dd>
</dl>





{% endblock %}
</html>