<!DOCTYPE HTML>
<!-- <html xmlns="http://www.w3.org/1999/xhtml"> -->

{% extends 'base.html'%}

{%block body%}
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link href="../static/css/menu.css" media="screen" rel="stylesheet" type="text/css">
    <script src="../static/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="../static/js/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
    <script src="http://listjs.com/no-cdn/list.js"></script>
    <script src="http://listjs.com/no-cdn/list.pagination.js"></script>
  
    <script src="../static/js/test_copy.js" type="text/javascript"></script>

    <style>

    </style>

  </head>
  
  <body>
  <div id="wrapper">
    <div class="container" id="container">
      <div id="sidebar">
      <div class="sidebar col-span-3">
      </div>
      <form id="search-zipcode">
        <div>
          <input type="text" id="zipcode" placeholder="Zip Code...">
          <button type="submit">
            <span class="glyphicon glyphicon-search search-icon"></span>
          </button>
        </div>
      </form>
      <div id="accordion">
        <ul>
          <li>
              <h3>Subject</h3>
                <ul>
                  {% for item in areas %}
                    <li><div class ="checkbox"><label> <input type="checkbox" id="{{item}}" value="{{item}}">{{item}}</label></div></li>
                     <ul>
                      {% for subject in menu["Subjects"][item] %}
                        <li><div class="checkbox"><label><input type="checkbox" id="{{subject}}" value="{{subject}}">
                        {{subject}}</label></div></li>
                      {% endfor %}
                    </ul>
                  {% endfor %}
                </ul>
              </li>
          <li class="active">
            <h3>Resource</h3>
              <ul>
                {% for resource in menu["Resources"] %}
                  <li><div class="checkbox"><label><input type="checkbox" id="{{resource}}" value="{{resource}}">
                    {{resource}}</label></div></li>
                {% endfor %}
              </ul>
          </li>
          <li>
            <h3></span>Grades</h3>
              <ul>
                {% for grade in menu["Grades"] %}
                  <li><div class="checkbox"><label><input type="checkbox" id="{{grade}}" value="{{grade}}">
                    {{grade}}</label></div></li>
                {% endfor %}
              </ul>
          </li>
        </ul>
      </div>

      </div>
      <div id="page-contents-wrapper">
      <div id="results">
        <ul class="list" id="list_results">
        {%for i in range(needs|length)%}
          <div class="well well-sm">
            <dl>
              <dd><a href="/project/{{query[i].id}}">{{query[i].title}}</a></dd>
              <dt class="inline">School Location:</dt><dd>{{query[i].school.city}}, {{query[i].school.state}}</dd>
              <dt class="inline">Grade Level:</dt><dd>{{query[i].grade_level}}</dd>
              <dt>Needs:</dt><dd>{{needs[i][1:]}}</dd>
            </dl>
          </div>
        {%endfor%}
        </ul>
        <ul class="pagination"></ul>
      </div>
    </div>
    </div>
    
  </div>

  <script>
  var options = {
    valueNames: ['well well-sm'],
    page: 5,
    plugins: [
      ListPagination({})
    ]
  };

  var listObj = new List('results', options);
  </script>

  </body>



{% endblock %}



  </html>
